.m-span {
    cursor: pointer;
}
.m-span:hover{
    background-color: lightgoldenrodyellow;
}
.complex-inline {
    display: flex;
    width: 100%;
    align-items: center;
}
.inline-append{
    width: 3rem;
    text-align: center;
}
.inline-append .ivu-icon-close-round {
    color: #FF9900
}
.complex-inline .ivu-select {
    width: calc(100% - 3rem);
}